//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 30 16:20:51 2015
//! **************************************************************************

SCHEMATIC START;
COMP "RXN_IN<0>" LOCATE = SITE "AF13" LEVEL 1;
COMP "Q0_CLK0_GTREFCLK_PAD_N_IN" LOCATE = SITE "AB13" LEVEL 1;
COMP "RXP_IN<0>" LOCATE = SITE "AE13" LEVEL 1;
COMP "Q0_CLK0_GTREFCLK_PAD_P_IN" LOCATE = SITE "AA13" LEVEL 1;
COMP "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i" LOCATE =
        SITE "GTPE2_CHANNEL_X0Y1" LEVEL 1;
COMP "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i" LOCATE =
        SITE "GTPE2_CHANNEL_X0Y0" LEVEL 1;
COMP "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i" LOCATE =
        SITE "GTPE2_CHANNEL_X0Y3" LEVEL 1;
COMP "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i" LOCATE =
        SITE "GTPE2_CHANNEL_X0Y2" LEVEL 1;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i_pins<220> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i"
        PINNAME RXUSRCLK;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i_pins<221> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i"
        PINNAME RXUSRCLK2;
TIMEGRP gt0_rxusrclk_i = BEL "gt0_rxresetdone_r" BEL "gt0_rxresetdone_r2" PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i_pins<220>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i_pins<221>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i_pins<220>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i_pins<221>"
        BEL "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_12" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_11" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_10" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_9" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_8" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_7" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_6" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_5" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_4" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_3" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_2" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_1" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_run_phase_alignment_int/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_run_phase_alignment_int/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_rx_fsm_reset_done_int/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_rx_fsm_reset_done_int/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt0_rxresetfsm_i/rx_fsm_reset_done_int_s3"
        BEL "jesd204b_rx4_init_i/gt0_rxresetfsm_i/run_phase_alignment_int_s3"
        BEL "gt0_frame_check/read_counter_i_8" BEL
        "gt0_frame_check/read_counter_i_7" BEL
        "gt0_frame_check/read_counter_i_6" BEL
        "gt0_frame_check/read_counter_i_5" BEL
        "gt0_frame_check/read_counter_i_4" BEL
        "gt0_frame_check/read_counter_i_3" BEL
        "gt0_frame_check/read_counter_i_2" BEL
        "gt0_frame_check/read_counter_i_1" BEL "gt0_frame_check/rx_data_r3_15"
        BEL "gt0_frame_check/rx_data_r3_14" BEL
        "gt0_frame_check/rx_data_r3_13" BEL "gt0_frame_check/rx_data_r3_12"
        BEL "gt0_frame_check/rx_data_r3_11" BEL
        "gt0_frame_check/rx_data_r3_10" BEL "gt0_frame_check/rx_data_r3_9" BEL
        "gt0_frame_check/rx_data_r3_8" BEL "gt0_frame_check/rx_data_r3_7" BEL
        "gt0_frame_check/rx_data_r3_6" BEL "gt0_frame_check/rx_data_r3_5" BEL
        "gt0_frame_check/rx_data_r3_4" BEL "gt0_frame_check/rx_data_r3_3" BEL
        "gt0_frame_check/rx_data_r3_2" BEL "gt0_frame_check/rx_data_r3_1" BEL
        "gt0_frame_check/rx_data_r3_0" BEL "gt0_frame_check/rxctrl_r3_1" BEL
        "gt0_frame_check/rxctrl_r3_0" BEL "gt0_frame_check/rx_data_ram_r_28"
        BEL "gt0_frame_check/rx_data_ram_r_27" BEL
        "gt0_frame_check/rx_data_ram_r_26" BEL
        "gt0_frame_check/rx_data_ram_r_25" BEL
        "gt0_frame_check/rx_data_ram_r_24" BEL
        "gt0_frame_check/rx_data_ram_r_23" BEL
        "gt0_frame_check/rx_data_ram_r_21" BEL
        "gt0_frame_check/rx_data_ram_r_20" BEL
        "gt0_frame_check/rx_data_ram_r_19" BEL
        "gt0_frame_check/rx_data_ram_r_18" BEL
        "gt0_frame_check/rx_data_ram_r_17" BEL
        "gt0_frame_check/rx_data_ram_r_16" BEL "gt0_frame_check/begin_r" BEL
        "gt0_frame_check/rxctrl_r2_1" BEL "gt0_frame_check/rxctrl_r2_0" BEL
        "gt0_frame_check/track_data_r" BEL "gt0_frame_check/rx_data_r2_15" BEL
        "gt0_frame_check/rx_data_r2_14" BEL "gt0_frame_check/rx_data_r2_13"
        BEL "gt0_frame_check/rx_data_r2_12" BEL
        "gt0_frame_check/rx_data_r2_11" BEL "gt0_frame_check/rx_data_r2_10"
        BEL "gt0_frame_check/rx_data_r2_9" BEL "gt0_frame_check/rx_data_r2_8"
        BEL "gt0_frame_check/rx_data_r2_7" BEL "gt0_frame_check/rx_data_r2_6"
        BEL "gt0_frame_check/rx_data_r2_5" BEL "gt0_frame_check/rx_data_r2_4"
        BEL "gt0_frame_check/rx_data_r2_3" BEL "gt0_frame_check/rx_data_r2_2"
        BEL "gt0_frame_check/rx_data_r2_1" BEL "gt0_frame_check/rx_data_r2_0"
        BEL "gt0_frame_check/system_reset_r" BEL
        "gt0_frame_check/start_of_packet_detected_r" BEL
        "gt0_frame_check/reset_on_error_in_r" BEL "gt0_frame_check/rxctrl_r_1"
        BEL "gt0_frame_check/rxctrl_r_0" BEL "gt0_frame_check/rx_data_r_15"
        BEL "gt0_frame_check/rx_data_r_14" BEL "gt0_frame_check/rx_data_r_13"
        BEL "gt0_frame_check/rx_data_r_12" BEL "gt0_frame_check/rx_data_r_11"
        BEL "gt0_frame_check/rx_data_r_10" BEL "gt0_frame_check/rx_data_r_9"
        BEL "gt0_frame_check/rx_data_r_8" BEL "gt0_frame_check/rx_data_r_7"
        BEL "gt0_frame_check/rx_data_r_6" BEL "gt0_frame_check/rx_data_r_5"
        BEL "gt0_frame_check/rx_data_r_4" BEL "gt0_frame_check/rx_data_r_3"
        BEL "gt0_frame_check/rx_data_r_2" BEL "gt0_frame_check/rx_data_r_1"
        BEL "gt0_frame_check/rx_data_r_0" BEL "gt0_rxresetdone_r3" BEL
        "gt0_frame_check/error_detected_r" BEL
        "gt0_frame_check/data_error_detected_r" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_wait_bypass" BEL
        "gt0_frame_check/sel" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/wait_bypass_count_0" BEL
        "gt0_frame_check/read_counter_i_0" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_13" BEL
        "gt0_frame_check/rx_data_r_track_131" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_15" BEL
        "gt0_frame_check/rx_data_r_track_151" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_14" BEL
        "gt0_frame_check/rx_data_r_track_141" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_12" BEL
        "gt0_frame_check/rx_data_r_track_121" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_11" BEL
        "gt0_frame_check/rx_data_r_track_111" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_10" BEL
        "gt0_frame_check/rx_data_r_track_101" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_9" BEL
        "gt0_frame_check/rx_data_r_track_91" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_8" BEL
        "gt0_frame_check/rx_data_r_track_81" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_7" BEL
        "gt0_frame_check/rx_data_r_track_71" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_6" BEL
        "gt0_frame_check/rx_data_r_track_61" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_5" BEL
        "gt0_frame_check/rx_data_r_track_51" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_4" BEL
        "gt0_frame_check/rx_data_r_track_41" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_3" BEL
        "gt0_frame_check/rx_data_r_track_31" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_2" BEL
        "gt0_frame_check/rx_data_r_track_21" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_1" BEL
        "gt0_frame_check/rx_data_r_track_112" BEL
        "gt0_frame_check/Mshreg_rx_data_r_track_0" BEL
        "gt0_frame_check/rx_data_r_track_01" BEL
        "gt0_frame_check/Mshreg_track_data_r3" BEL
        "gt0_frame_check/track_data_r3" BEL
        "gt0_frame_check/system_reset_r_shift1" BEL
        "gt0_frame_check/system_reset_r_shift2" BEL
        "gt0_frame_check/system_reset_r_shift3" BEL
        "gt0_frame_check/rx_data_r_track_0" BEL
        "gt0_frame_check/rx_data_r_track_10" BEL
        "gt0_frame_check/rx_data_r_track_11" BEL
        "gt0_frame_check/rx_data_r_track_12" BEL
        "gt0_frame_check/rx_data_r_track_13" BEL
        "gt0_frame_check/rx_data_r_track_14" BEL
        "gt0_frame_check/rx_data_r_track_15" BEL
        "gt0_frame_check/rx_data_r_track_1" BEL
        "gt0_frame_check/rx_data_r_track_2" BEL
        "gt0_frame_check/rx_data_r_track_3" BEL
        "gt0_frame_check/rx_data_r_track_4" BEL
        "gt0_frame_check/rx_data_r_track_5" BEL
        "gt0_frame_check/rx_data_r_track_6" BEL
        "gt0_frame_check/rx_data_r_track_7" BEL
        "gt0_frame_check/rx_data_r_track_8" BEL
        "gt0_frame_check/rx_data_r_track_9";
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i_pins<220> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i"
        PINNAME RXUSRCLK;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i_pins<221> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i"
        PINNAME RXUSRCLK2;
TIMEGRP gt1_rxusrclk_i = BEL "gt1_rxresetdone_r" BEL "gt1_rxresetdone_r2" PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i_pins<220>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i_pins<221>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i_pins<220>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i_pins<221>"
        BEL "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_12" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_11" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_10" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_9" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_8" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_7" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_6" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_5" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_4" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_3" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_2" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_1" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_run_phase_alignment_int/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_run_phase_alignment_int/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_rx_fsm_reset_done_int/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_rx_fsm_reset_done_int/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt1_rxresetfsm_i/rx_fsm_reset_done_int_s3"
        BEL "jesd204b_rx4_init_i/gt1_rxresetfsm_i/run_phase_alignment_int_s3"
        BEL "gt1_frame_check/read_counter_i_8" BEL
        "gt1_frame_check/read_counter_i_7" BEL
        "gt1_frame_check/read_counter_i_6" BEL
        "gt1_frame_check/read_counter_i_5" BEL
        "gt1_frame_check/read_counter_i_4" BEL
        "gt1_frame_check/read_counter_i_3" BEL
        "gt1_frame_check/read_counter_i_2" BEL
        "gt1_frame_check/read_counter_i_1" BEL "gt1_frame_check/rx_data_r3_15"
        BEL "gt1_frame_check/rx_data_r3_14" BEL
        "gt1_frame_check/rx_data_r3_13" BEL "gt1_frame_check/rx_data_r3_12"
        BEL "gt1_frame_check/rx_data_r3_11" BEL
        "gt1_frame_check/rx_data_r3_10" BEL "gt1_frame_check/rx_data_r3_9" BEL
        "gt1_frame_check/rx_data_r3_8" BEL "gt1_frame_check/rx_data_r3_7" BEL
        "gt1_frame_check/rx_data_r3_6" BEL "gt1_frame_check/rx_data_r3_5" BEL
        "gt1_frame_check/rx_data_r3_4" BEL "gt1_frame_check/rx_data_r3_3" BEL
        "gt1_frame_check/rx_data_r3_2" BEL "gt1_frame_check/rx_data_r3_1" BEL
        "gt1_frame_check/rx_data_r3_0" BEL "gt1_frame_check/rxctrl_r3_1" BEL
        "gt1_frame_check/rxctrl_r3_0" BEL "gt1_frame_check/rx_data_ram_r_28"
        BEL "gt1_frame_check/rx_data_ram_r_27" BEL
        "gt1_frame_check/rx_data_ram_r_26" BEL
        "gt1_frame_check/rx_data_ram_r_25" BEL
        "gt1_frame_check/rx_data_ram_r_24" BEL
        "gt1_frame_check/rx_data_ram_r_23" BEL
        "gt1_frame_check/rx_data_ram_r_21" BEL
        "gt1_frame_check/rx_data_ram_r_20" BEL
        "gt1_frame_check/rx_data_ram_r_19" BEL
        "gt1_frame_check/rx_data_ram_r_18" BEL
        "gt1_frame_check/rx_data_ram_r_17" BEL
        "gt1_frame_check/rx_data_ram_r_16" BEL "gt1_frame_check/begin_r" BEL
        "gt1_frame_check/rxctrl_r2_1" BEL "gt1_frame_check/rxctrl_r2_0" BEL
        "gt1_frame_check/track_data_r" BEL "gt1_frame_check/rx_data_r2_15" BEL
        "gt1_frame_check/rx_data_r2_14" BEL "gt1_frame_check/rx_data_r2_13"
        BEL "gt1_frame_check/rx_data_r2_12" BEL
        "gt1_frame_check/rx_data_r2_11" BEL "gt1_frame_check/rx_data_r2_10"
        BEL "gt1_frame_check/rx_data_r2_9" BEL "gt1_frame_check/rx_data_r2_8"
        BEL "gt1_frame_check/rx_data_r2_7" BEL "gt1_frame_check/rx_data_r2_6"
        BEL "gt1_frame_check/rx_data_r2_5" BEL "gt1_frame_check/rx_data_r2_4"
        BEL "gt1_frame_check/rx_data_r2_3" BEL "gt1_frame_check/rx_data_r2_2"
        BEL "gt1_frame_check/rx_data_r2_1" BEL "gt1_frame_check/rx_data_r2_0"
        BEL "gt1_frame_check/system_reset_r" BEL
        "gt1_frame_check/start_of_packet_detected_r" BEL
        "gt1_frame_check/reset_on_error_in_r" BEL "gt1_frame_check/rxctrl_r_1"
        BEL "gt1_frame_check/rxctrl_r_0" BEL "gt1_frame_check/rx_data_r_15"
        BEL "gt1_frame_check/rx_data_r_14" BEL "gt1_frame_check/rx_data_r_13"
        BEL "gt1_frame_check/rx_data_r_12" BEL "gt1_frame_check/rx_data_r_11"
        BEL "gt1_frame_check/rx_data_r_10" BEL "gt1_frame_check/rx_data_r_9"
        BEL "gt1_frame_check/rx_data_r_8" BEL "gt1_frame_check/rx_data_r_7"
        BEL "gt1_frame_check/rx_data_r_6" BEL "gt1_frame_check/rx_data_r_5"
        BEL "gt1_frame_check/rx_data_r_4" BEL "gt1_frame_check/rx_data_r_3"
        BEL "gt1_frame_check/rx_data_r_2" BEL "gt1_frame_check/rx_data_r_1"
        BEL "gt1_frame_check/rx_data_r_0" BEL "gt1_rxresetdone_r3" BEL
        "gt1_frame_check/error_detected_r" BEL
        "gt1_frame_check/data_error_detected_r" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_wait_bypass" BEL
        "gt1_frame_check/sel" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/wait_bypass_count_0" BEL
        "gt1_frame_check/read_counter_i_0" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_13" BEL
        "gt1_frame_check/rx_data_r_track_131" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_15" BEL
        "gt1_frame_check/rx_data_r_track_151" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_14" BEL
        "gt1_frame_check/rx_data_r_track_141" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_12" BEL
        "gt1_frame_check/rx_data_r_track_121" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_11" BEL
        "gt1_frame_check/rx_data_r_track_111" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_10" BEL
        "gt1_frame_check/rx_data_r_track_101" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_9" BEL
        "gt1_frame_check/rx_data_r_track_91" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_8" BEL
        "gt1_frame_check/rx_data_r_track_81" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_7" BEL
        "gt1_frame_check/rx_data_r_track_71" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_6" BEL
        "gt1_frame_check/rx_data_r_track_61" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_5" BEL
        "gt1_frame_check/rx_data_r_track_51" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_4" BEL
        "gt1_frame_check/rx_data_r_track_41" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_3" BEL
        "gt1_frame_check/rx_data_r_track_31" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_2" BEL
        "gt1_frame_check/rx_data_r_track_21" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_1" BEL
        "gt1_frame_check/rx_data_r_track_112" BEL
        "gt1_frame_check/Mshreg_rx_data_r_track_0" BEL
        "gt1_frame_check/rx_data_r_track_01" BEL
        "gt1_frame_check/Mshreg_track_data_r3" BEL
        "gt1_frame_check/track_data_r3" BEL
        "gt1_frame_check/system_reset_r_shift1" BEL
        "gt1_frame_check/system_reset_r_shift2" BEL
        "gt1_frame_check/system_reset_r_shift3" BEL
        "gt1_frame_check/rx_data_r_track_0" BEL
        "gt1_frame_check/rx_data_r_track_10" BEL
        "gt1_frame_check/rx_data_r_track_11" BEL
        "gt1_frame_check/rx_data_r_track_12" BEL
        "gt1_frame_check/rx_data_r_track_13" BEL
        "gt1_frame_check/rx_data_r_track_14" BEL
        "gt1_frame_check/rx_data_r_track_15" BEL
        "gt1_frame_check/rx_data_r_track_1" BEL
        "gt1_frame_check/rx_data_r_track_2" BEL
        "gt1_frame_check/rx_data_r_track_3" BEL
        "gt1_frame_check/rx_data_r_track_4" BEL
        "gt1_frame_check/rx_data_r_track_5" BEL
        "gt1_frame_check/rx_data_r_track_6" BEL
        "gt1_frame_check/rx_data_r_track_7" BEL
        "gt1_frame_check/rx_data_r_track_8" BEL
        "gt1_frame_check/rx_data_r_track_9";
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i_pins<220> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i"
        PINNAME RXUSRCLK;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i_pins<221> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i"
        PINNAME RXUSRCLK2;
TIMEGRP gt2_rxusrclk_i = BEL "gt2_rxresetdone_r" BEL "gt2_rxresetdone_r2" PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i_pins<220>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i_pins<221>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i_pins<220>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i_pins<221>"
        BEL "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_12" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_11" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_10" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_9" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_8" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_7" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_6" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_5" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_4" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_3" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_2" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_1" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_run_phase_alignment_int/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_run_phase_alignment_int/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_rx_fsm_reset_done_int/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_rx_fsm_reset_done_int/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt2_rxresetfsm_i/rx_fsm_reset_done_int_s3"
        BEL "jesd204b_rx4_init_i/gt2_rxresetfsm_i/run_phase_alignment_int_s3"
        BEL "gt2_frame_check/read_counter_i_8" BEL
        "gt2_frame_check/read_counter_i_7" BEL
        "gt2_frame_check/read_counter_i_6" BEL
        "gt2_frame_check/read_counter_i_5" BEL
        "gt2_frame_check/read_counter_i_4" BEL
        "gt2_frame_check/read_counter_i_3" BEL
        "gt2_frame_check/read_counter_i_2" BEL
        "gt2_frame_check/read_counter_i_1" BEL "gt2_frame_check/rx_data_r3_15"
        BEL "gt2_frame_check/rx_data_r3_14" BEL
        "gt2_frame_check/rx_data_r3_13" BEL "gt2_frame_check/rx_data_r3_12"
        BEL "gt2_frame_check/rx_data_r3_11" BEL
        "gt2_frame_check/rx_data_r3_10" BEL "gt2_frame_check/rx_data_r3_9" BEL
        "gt2_frame_check/rx_data_r3_8" BEL "gt2_frame_check/rx_data_r3_7" BEL
        "gt2_frame_check/rx_data_r3_6" BEL "gt2_frame_check/rx_data_r3_5" BEL
        "gt2_frame_check/rx_data_r3_4" BEL "gt2_frame_check/rx_data_r3_3" BEL
        "gt2_frame_check/rx_data_r3_2" BEL "gt2_frame_check/rx_data_r3_1" BEL
        "gt2_frame_check/rx_data_r3_0" BEL "gt2_frame_check/rxctrl_r3_1" BEL
        "gt2_frame_check/rxctrl_r3_0" BEL "gt2_frame_check/rx_data_ram_r_28"
        BEL "gt2_frame_check/rx_data_ram_r_27" BEL
        "gt2_frame_check/rx_data_ram_r_26" BEL
        "gt2_frame_check/rx_data_ram_r_25" BEL
        "gt2_frame_check/rx_data_ram_r_24" BEL
        "gt2_frame_check/rx_data_ram_r_23" BEL
        "gt2_frame_check/rx_data_ram_r_21" BEL
        "gt2_frame_check/rx_data_ram_r_20" BEL
        "gt2_frame_check/rx_data_ram_r_19" BEL
        "gt2_frame_check/rx_data_ram_r_18" BEL
        "gt2_frame_check/rx_data_ram_r_17" BEL
        "gt2_frame_check/rx_data_ram_r_16" BEL "gt2_frame_check/begin_r" BEL
        "gt2_frame_check/rxctrl_r2_1" BEL "gt2_frame_check/rxctrl_r2_0" BEL
        "gt2_frame_check/track_data_r" BEL "gt2_frame_check/rx_data_r2_15" BEL
        "gt2_frame_check/rx_data_r2_14" BEL "gt2_frame_check/rx_data_r2_13"
        BEL "gt2_frame_check/rx_data_r2_12" BEL
        "gt2_frame_check/rx_data_r2_11" BEL "gt2_frame_check/rx_data_r2_10"
        BEL "gt2_frame_check/rx_data_r2_9" BEL "gt2_frame_check/rx_data_r2_8"
        BEL "gt2_frame_check/rx_data_r2_7" BEL "gt2_frame_check/rx_data_r2_6"
        BEL "gt2_frame_check/rx_data_r2_5" BEL "gt2_frame_check/rx_data_r2_4"
        BEL "gt2_frame_check/rx_data_r2_3" BEL "gt2_frame_check/rx_data_r2_2"
        BEL "gt2_frame_check/rx_data_r2_1" BEL "gt2_frame_check/rx_data_r2_0"
        BEL "gt2_frame_check/system_reset_r" BEL
        "gt2_frame_check/start_of_packet_detected_r" BEL
        "gt2_frame_check/reset_on_error_in_r" BEL "gt2_frame_check/rxctrl_r_1"
        BEL "gt2_frame_check/rxctrl_r_0" BEL "gt2_frame_check/rx_data_r_15"
        BEL "gt2_frame_check/rx_data_r_14" BEL "gt2_frame_check/rx_data_r_13"
        BEL "gt2_frame_check/rx_data_r_12" BEL "gt2_frame_check/rx_data_r_11"
        BEL "gt2_frame_check/rx_data_r_10" BEL "gt2_frame_check/rx_data_r_9"
        BEL "gt2_frame_check/rx_data_r_8" BEL "gt2_frame_check/rx_data_r_7"
        BEL "gt2_frame_check/rx_data_r_6" BEL "gt2_frame_check/rx_data_r_5"
        BEL "gt2_frame_check/rx_data_r_4" BEL "gt2_frame_check/rx_data_r_3"
        BEL "gt2_frame_check/rx_data_r_2" BEL "gt2_frame_check/rx_data_r_1"
        BEL "gt2_frame_check/rx_data_r_0" BEL "gt2_rxresetdone_r3" BEL
        "gt2_frame_check/error_detected_r" BEL
        "gt2_frame_check/data_error_detected_r" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_wait_bypass" BEL
        "gt2_frame_check/sel" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/wait_bypass_count_0" BEL
        "gt2_frame_check/read_counter_i_0" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_13" BEL
        "gt2_frame_check/rx_data_r_track_131" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_15" BEL
        "gt2_frame_check/rx_data_r_track_151" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_14" BEL
        "gt2_frame_check/rx_data_r_track_141" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_12" BEL
        "gt2_frame_check/rx_data_r_track_121" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_11" BEL
        "gt2_frame_check/rx_data_r_track_111" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_10" BEL
        "gt2_frame_check/rx_data_r_track_101" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_9" BEL
        "gt2_frame_check/rx_data_r_track_91" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_8" BEL
        "gt2_frame_check/rx_data_r_track_81" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_7" BEL
        "gt2_frame_check/rx_data_r_track_71" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_6" BEL
        "gt2_frame_check/rx_data_r_track_61" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_5" BEL
        "gt2_frame_check/rx_data_r_track_51" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_4" BEL
        "gt2_frame_check/rx_data_r_track_41" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_3" BEL
        "gt2_frame_check/rx_data_r_track_31" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_2" BEL
        "gt2_frame_check/rx_data_r_track_21" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_1" BEL
        "gt2_frame_check/rx_data_r_track_112" BEL
        "gt2_frame_check/Mshreg_rx_data_r_track_0" BEL
        "gt2_frame_check/rx_data_r_track_01" BEL
        "gt2_frame_check/Mshreg_track_data_r3" BEL
        "gt2_frame_check/track_data_r3" BEL
        "gt2_frame_check/system_reset_r_shift1" BEL
        "gt2_frame_check/system_reset_r_shift2" BEL
        "gt2_frame_check/system_reset_r_shift3" BEL
        "gt2_frame_check/rx_data_r_track_0" BEL
        "gt2_frame_check/rx_data_r_track_10" BEL
        "gt2_frame_check/rx_data_r_track_11" BEL
        "gt2_frame_check/rx_data_r_track_12" BEL
        "gt2_frame_check/rx_data_r_track_13" BEL
        "gt2_frame_check/rx_data_r_track_14" BEL
        "gt2_frame_check/rx_data_r_track_15" BEL
        "gt2_frame_check/rx_data_r_track_1" BEL
        "gt2_frame_check/rx_data_r_track_2" BEL
        "gt2_frame_check/rx_data_r_track_3" BEL
        "gt2_frame_check/rx_data_r_track_4" BEL
        "gt2_frame_check/rx_data_r_track_5" BEL
        "gt2_frame_check/rx_data_r_track_6" BEL
        "gt2_frame_check/rx_data_r_track_7" BEL
        "gt2_frame_check/rx_data_r_track_8" BEL
        "gt2_frame_check/rx_data_r_track_9";
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i_pins<220> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i"
        PINNAME RXUSRCLK;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i_pins<221> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i"
        PINNAME RXUSRCLK2;
TIMEGRP gt3_rxusrclk_i = BEL "gt3_rxresetdone_r" BEL "gt3_rxresetdone_r2" PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i_pins<220>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i_pins<221>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i_pins<220>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i_pins<221>"
        BEL "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_12" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_11" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_10" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_9" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_8" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_7" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_6" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_5" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_4" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_3" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_2" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_1" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_run_phase_alignment_int/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_run_phase_alignment_int/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_rx_fsm_reset_done_int/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_rx_fsm_reset_done_int/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt3_rxresetfsm_i/rx_fsm_reset_done_int_s3"
        BEL "jesd204b_rx4_init_i/gt3_rxresetfsm_i/run_phase_alignment_int_s3"
        BEL "gt3_frame_check/read_counter_i_8" BEL
        "gt3_frame_check/read_counter_i_7" BEL
        "gt3_frame_check/read_counter_i_6" BEL
        "gt3_frame_check/read_counter_i_5" BEL
        "gt3_frame_check/read_counter_i_4" BEL
        "gt3_frame_check/read_counter_i_3" BEL
        "gt3_frame_check/read_counter_i_2" BEL
        "gt3_frame_check/read_counter_i_1" BEL "gt3_frame_check/rx_data_r3_15"
        BEL "gt3_frame_check/rx_data_r3_14" BEL
        "gt3_frame_check/rx_data_r3_13" BEL "gt3_frame_check/rx_data_r3_12"
        BEL "gt3_frame_check/rx_data_r3_11" BEL
        "gt3_frame_check/rx_data_r3_10" BEL "gt3_frame_check/rx_data_r3_9" BEL
        "gt3_frame_check/rx_data_r3_8" BEL "gt3_frame_check/rx_data_r3_7" BEL
        "gt3_frame_check/rx_data_r3_6" BEL "gt3_frame_check/rx_data_r3_5" BEL
        "gt3_frame_check/rx_data_r3_4" BEL "gt3_frame_check/rx_data_r3_3" BEL
        "gt3_frame_check/rx_data_r3_2" BEL "gt3_frame_check/rx_data_r3_1" BEL
        "gt3_frame_check/rx_data_r3_0" BEL "gt3_frame_check/rxctrl_r3_1" BEL
        "gt3_frame_check/rxctrl_r3_0" BEL "gt3_frame_check/rx_data_ram_r_28"
        BEL "gt3_frame_check/rx_data_ram_r_27" BEL
        "gt3_frame_check/rx_data_ram_r_26" BEL
        "gt3_frame_check/rx_data_ram_r_25" BEL
        "gt3_frame_check/rx_data_ram_r_24" BEL
        "gt3_frame_check/rx_data_ram_r_23" BEL
        "gt3_frame_check/rx_data_ram_r_21" BEL
        "gt3_frame_check/rx_data_ram_r_20" BEL
        "gt3_frame_check/rx_data_ram_r_19" BEL
        "gt3_frame_check/rx_data_ram_r_18" BEL
        "gt3_frame_check/rx_data_ram_r_17" BEL
        "gt3_frame_check/rx_data_ram_r_16" BEL "gt3_frame_check/begin_r" BEL
        "gt3_frame_check/rxctrl_r2_1" BEL "gt3_frame_check/rxctrl_r2_0" BEL
        "gt3_frame_check/track_data_r" BEL "gt3_frame_check/rx_data_r2_15" BEL
        "gt3_frame_check/rx_data_r2_14" BEL "gt3_frame_check/rx_data_r2_13"
        BEL "gt3_frame_check/rx_data_r2_12" BEL
        "gt3_frame_check/rx_data_r2_11" BEL "gt3_frame_check/rx_data_r2_10"
        BEL "gt3_frame_check/rx_data_r2_9" BEL "gt3_frame_check/rx_data_r2_8"
        BEL "gt3_frame_check/rx_data_r2_7" BEL "gt3_frame_check/rx_data_r2_6"
        BEL "gt3_frame_check/rx_data_r2_5" BEL "gt3_frame_check/rx_data_r2_4"
        BEL "gt3_frame_check/rx_data_r2_3" BEL "gt3_frame_check/rx_data_r2_2"
        BEL "gt3_frame_check/rx_data_r2_1" BEL "gt3_frame_check/rx_data_r2_0"
        BEL "gt3_frame_check/system_reset_r" BEL
        "gt3_frame_check/start_of_packet_detected_r" BEL
        "gt3_frame_check/reset_on_error_in_r" BEL "gt3_frame_check/rxctrl_r_1"
        BEL "gt3_frame_check/rxctrl_r_0" BEL "gt3_frame_check/rx_data_r_15"
        BEL "gt3_frame_check/rx_data_r_14" BEL "gt3_frame_check/rx_data_r_13"
        BEL "gt3_frame_check/rx_data_r_12" BEL "gt3_frame_check/rx_data_r_11"
        BEL "gt3_frame_check/rx_data_r_10" BEL "gt3_frame_check/rx_data_r_9"
        BEL "gt3_frame_check/rx_data_r_8" BEL "gt3_frame_check/rx_data_r_7"
        BEL "gt3_frame_check/rx_data_r_6" BEL "gt3_frame_check/rx_data_r_5"
        BEL "gt3_frame_check/rx_data_r_4" BEL "gt3_frame_check/rx_data_r_3"
        BEL "gt3_frame_check/rx_data_r_2" BEL "gt3_frame_check/rx_data_r_1"
        BEL "gt3_frame_check/rx_data_r_0" BEL "gt3_rxresetdone_r3" BEL
        "gt3_frame_check/error_detected_r" BEL
        "gt3_frame_check/data_error_detected_r" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_wait_bypass" BEL
        "gt3_frame_check/sel" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/wait_bypass_count_0" BEL
        "gt3_frame_check/read_counter_i_0" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_13" BEL
        "gt3_frame_check/rx_data_r_track_131" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_15" BEL
        "gt3_frame_check/rx_data_r_track_151" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_14" BEL
        "gt3_frame_check/rx_data_r_track_141" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_12" BEL
        "gt3_frame_check/rx_data_r_track_121" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_11" BEL
        "gt3_frame_check/rx_data_r_track_111" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_10" BEL
        "gt3_frame_check/rx_data_r_track_101" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_9" BEL
        "gt3_frame_check/rx_data_r_track_91" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_8" BEL
        "gt3_frame_check/rx_data_r_track_81" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_7" BEL
        "gt3_frame_check/rx_data_r_track_71" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_6" BEL
        "gt3_frame_check/rx_data_r_track_61" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_5" BEL
        "gt3_frame_check/rx_data_r_track_51" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_4" BEL
        "gt3_frame_check/rx_data_r_track_41" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_3" BEL
        "gt3_frame_check/rx_data_r_track_31" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_2" BEL
        "gt3_frame_check/rx_data_r_track_21" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_1" BEL
        "gt3_frame_check/rx_data_r_track_112" BEL
        "gt3_frame_check/Mshreg_rx_data_r_track_0" BEL
        "gt3_frame_check/rx_data_r_track_01" BEL
        "gt3_frame_check/Mshreg_track_data_r3" BEL
        "gt3_frame_check/track_data_r3" BEL
        "gt3_frame_check/system_reset_r_shift1" BEL
        "gt3_frame_check/system_reset_r_shift2" BEL
        "gt3_frame_check/system_reset_r_shift3" BEL
        "gt3_frame_check/rx_data_r_track_0" BEL
        "gt3_frame_check/rx_data_r_track_10" BEL
        "gt3_frame_check/rx_data_r_track_11" BEL
        "gt3_frame_check/rx_data_r_track_12" BEL
        "gt3_frame_check/rx_data_r_track_13" BEL
        "gt3_frame_check/rx_data_r_track_14" BEL
        "gt3_frame_check/rx_data_r_track_15" BEL
        "gt3_frame_check/rx_data_r_track_1" BEL
        "gt3_frame_check/rx_data_r_track_2" BEL
        "gt3_frame_check/rx_data_r_track_3" BEL
        "gt3_frame_check/rx_data_r_track_4" BEL
        "gt3_frame_check/rx_data_r_track_5" BEL
        "gt3_frame_check/rx_data_r_track_6" BEL
        "gt3_frame_check/rx_data_r_track_7" BEL
        "gt3_frame_check/rx_data_r_track_8" BEL
        "gt3_frame_check/rx_data_r_track_9";
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gtpe2_common_0_i_pins<27> = BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gtpe2_common_0_i" PINNAME
        GTREFCLK0;
TIMEGRP q0_clk0_refclk_i = PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gtpe2_common_0_i_pins<27>";
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gtpe2_common_0_i_pins<29> = BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gtpe2_common_0_i" PINNAME
        PLL0LOCKDETCLK;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i_pins<14> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i"
        PINNAME DRPCLK;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i_pins<14> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i"
        PINNAME DRPCLK;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i_pins<14> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i"
        PINNAME DRPCLK;
PIN jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i_pins<14> =
        BEL "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i"
        PINNAME DRPCLK;
TIMEGRP drpclk_in_i = PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gtpe2_common_0_i_pins<29>" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_10" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_9" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_8" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_7" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_6" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_5" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_4" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_3" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_2" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_1" BEL
        "jesd204b_rx4_init_i/rx_cdrlock_counter_0" PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtpe2_i_pins<14>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtpe2_i_pins<14>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtpe2_i_pins<14>"
        PIN
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtpe2_i_pins<14>"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd1"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd2"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd3"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/sync0_RXPMARESETDONE/data_sync"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/sync0_RXPMARESETDONE/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_o"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rxpmaresetdone_sss"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_ss"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/drp_op_done_o"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_s"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_15"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_14"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_13"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_12"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_11"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_10"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_9"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_8"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_7"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_6"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_5"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_4"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_3"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_2"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_1"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt3_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_0"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd1"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd2"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd3"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/sync0_RXPMARESETDONE/data_sync"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/sync0_RXPMARESETDONE/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_o"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rxpmaresetdone_sss"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_ss"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/drp_op_done_o"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_s"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_15"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_14"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_13"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_12"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_11"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_10"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_9"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_8"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_7"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_6"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_5"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_4"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_3"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_2"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_1"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt2_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_0"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd1"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd2"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd3"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/sync0_RXPMARESETDONE/data_sync"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/sync0_RXPMARESETDONE/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_o"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rxpmaresetdone_sss"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_ss"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/drp_op_done_o"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_s"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_15"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_14"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_13"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_12"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_11"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_10"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_9"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_8"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_7"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_6"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_5"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_4"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_3"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_2"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_1"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt1_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_0"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd1"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd2"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/state_FSM_FFd3"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/sync0_RXPMARESETDONE/data_sync"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/sync0_RXPMARESETDONE/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_o"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rxpmaresetdone_sss"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_ss"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/drp_op_done_o"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/gtrxreset_s"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_15"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_14"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_13"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_12"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_11"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_10"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_9"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_8"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_7"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_6"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_5"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_4"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_3"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_2"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_1"
        BEL
        "jesd204b_rx4_init_i/jesd204b_rx4_i/gt0_jesd204b_rx4_i/gtrxreset_seq_i/rd_data_0"
        BEL "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_9" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_8" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_7" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_6" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_5" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_4" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_3" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_2" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_1" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_count_0" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_18" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_17" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_16" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_15" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_14" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_13" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_12" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_11" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_10" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_9" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_8" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_7" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_6" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_5" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_4" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_3" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_2" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_1" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_counter_0" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/init_wait_count_5" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/init_wait_count_4" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/init_wait_count_3" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/init_wait_count_2" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/init_wait_count_1" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/init_wait_count_0" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/rx_state_FSM_FFd2" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/rx_state_FSM_FFd4" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/rx_state_FSM_FFd3" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_RXRESETDONE/data_sync" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_RXRESETDONE/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_time_out_wait_bypass/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_time_out_wait_bypass/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_mmcm_lock_reclocked/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_mmcm_lock_reclocked/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_data_valid/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_data_valid/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_PLL0LOCK/data_sync" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/sync_PLL0LOCK/data_sync_reg" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/pll0lock_prev" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/rxresetdone_s3" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_wait_bypass_s3" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_9" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_8" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_7" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_6" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_5" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_4" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_3" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_2" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_1" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_count_0" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_18" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_17" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_16" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_15" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_14" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_13" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_12" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_11" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_10" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_9" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_8" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_7" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_6" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_5" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_4" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_3" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_2" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_1" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_counter_0" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/rx_state_FSM_FFd2" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/rx_state_FSM_FFd4" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/rx_state_FSM_FFd3" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_RXRESETDONE/data_sync" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_RXRESETDONE/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_time_out_wait_bypass/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_time_out_wait_bypass/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_mmcm_lock_reclocked/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_mmcm_lock_reclocked/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_data_valid/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_data_valid/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_PLL0LOCK/data_sync" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/sync_PLL0LOCK/data_sync_reg" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/rxresetdone_s3" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_wait_bypass_s3" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_9" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_8" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_7" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_6" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_5" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_4" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_3" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_2" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_1" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_count_0" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_18" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_17" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_16" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_15" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_14" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_13" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_12" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_11" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_10" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_9" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_8" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_7" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_6" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_5" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_4" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_3" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_2" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_1" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_counter_0" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/rx_state_FSM_FFd2" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/rx_state_FSM_FFd4" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/rx_state_FSM_FFd3" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_RXRESETDONE/data_sync" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_RXRESETDONE/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_time_out_wait_bypass/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_time_out_wait_bypass/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_mmcm_lock_reclocked/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_mmcm_lock_reclocked/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_data_valid/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_data_valid/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_PLL0LOCK/data_sync" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/sync_PLL0LOCK/data_sync_reg" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/rxresetdone_s3" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_wait_bypass_s3" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_9" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_8" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_7" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_6" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_5" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_4" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_3" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_2" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_1" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_count_0" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_18" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_17" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_16" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_15" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_14" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_13" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_12" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_11" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_10" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_9" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_8" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_7" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_6" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_5" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_4" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_3" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_2" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_1" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_counter_0" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/rx_state_FSM_FFd2" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/rx_state_FSM_FFd4" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/rx_state_FSM_FFd3" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_RXRESETDONE/data_sync" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_RXRESETDONE/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_time_out_wait_bypass/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_time_out_wait_bypass/data_sync_reg"
        BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_mmcm_lock_reclocked/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_mmcm_lock_reclocked/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_data_valid/data_sync"
        BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_data_valid/data_sync_reg"
        BEL "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_PLL0LOCK/data_sync" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/sync_PLL0LOCK/data_sync_reg" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/rxresetdone_s3" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_wait_bypass_s3" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_100us" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_1us" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_out_2ms" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/time_tlock_max" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_100us" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_1us" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_out_2ms" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/time_tlock_max" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_100us" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_1us" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_out_2ms" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/time_tlock_max" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_100us" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_1us" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_out_2ms" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/time_tlock_max" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/rx_fsm_reset_done_int" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/MMCM_RESET" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/run_phase_alignment_int" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/GTRXRESET" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/RXUSERRDY" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/reset_time_out" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/pll_reset_asserted" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/rx_fsm_reset_done_int" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/MMCM_RESET" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/run_phase_alignment_int" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/GTRXRESET" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/RXUSERRDY" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/reset_time_out" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/pll_reset_asserted" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/rx_fsm_reset_done_int" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/MMCM_RESET" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/run_phase_alignment_int" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/GTRXRESET" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/RXUSERRDY" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/reset_time_out" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/pll_reset_asserted" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/rx_fsm_reset_done_int" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/MMCM_RESET" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/run_phase_alignment_int" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/GTRXRESET" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/RXUSERRDY" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/reset_time_out" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/pll_reset_asserted" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/PLL0_RESET" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/rx_state_FSM_FFd1" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/init_wait_done" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/rx_state_FSM_FFd1" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/rx_state_FSM_FFd1" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/rx_state_FSM_FFd1" BEL
        "jesd204b_rx4_init_i/rx_cdrlocked" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/mmcm_lock_reclocked" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/mmcm_lock_reclocked" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/mmcm_lock_reclocked" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/mmcm_lock_reclocked" BEL
        "jesd204b_rx4_init_i/gt3_rxresetfsm_i/pll0lock_ris_edge" BEL
        "jesd204b_rx4_init_i/gt2_rxresetfsm_i/pll0lock_ris_edge" BEL
        "jesd204b_rx4_init_i/gt1_rxresetfsm_i/pll0lock_ris_edge" BEL
        "jesd204b_rx4_init_i/gt0_rxresetfsm_i/pll0lock_ris_edge";
TS_q0_clk0_refclk_i = PERIOD TIMEGRP "q0_clk0_refclk_i" 8.138 ns HIGH 50%;
TS_drpclk_in_i = PERIOD TIMEGRP "drpclk_in_i" 10 ns HIGH 50%;
TS_gt0_rxusrclk_i = PERIOD TIMEGRP "gt0_rxusrclk_i" 6.51 ns HIGH 50%;
TS_gt1_rxusrclk_i = PERIOD TIMEGRP "gt1_rxusrclk_i" 6.51 ns HIGH 50%;
TS_gt2_rxusrclk_i = PERIOD TIMEGRP "gt2_rxusrclk_i" 6.51 ns HIGH 50%;
TS_gt3_rxusrclk_i = PERIOD TIMEGRP "gt3_rxusrclk_i" 6.51 ns HIGH 50%;
SCHEMATIC END;

